<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button slot="start" color="primary" defaultHref="/profile" text=""
        icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{'settings' | language : 'Settings'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="goToLanguage()">
    <ion-img src="assets/images/uil_language.svg"></ion-img>
    <p class="change">
      {{'changelanguage' | language : 'Change Language'}}
    </p>
  </ion-card>
  <p class="txt">
    {{'nowyoucanchooseyoursuitablelanguage' | language : 'Now you can choose your suitable language '}}
  </p>

  <ion-card (click)="deleteAccount()">
    <ion-img src="assets/icon/deleteIcon.svg"></ion-img>
    <p class="change">
      {{'DeleteAccount' | language : 'Delete Account'}}
    </p>
  </ion-card>
  <p class="txt">
    {{'Whywouldyouliketodeleteyouraccount?'|language:'Why would you like to delete your account?'}}
  </p>


</ion-content>