<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134890018866-3ll6s6m64gevp7tp76l9houvr94o9b0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134890018866-3ll6s6m64gevp7tp76l9houvr94o9b0v</string>
	<key>API_KEY</key>
	<string>AIzaSyBvUxfwTmkauA_X0YIX96kLMz7JlsqFrxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>134890018866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarvm.hh</string>
	<key>PROJECT_ID</key>
	<string>sarvm-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>sarvm-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134890018866:ios:dd8b44c4e16a525913442b</string>
</dict>
</plist>