<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      <ion-title><strong>SarVM.AI</strong></ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="complete-content-fav">
    <h3 id="help-text"><strong>
      {{'Favouriteshop'|language:'Favourite Shop'}}
    </strong></h3>
  </div>
  <div class="fav-items">
    <h3>{{'items' | language:'Items'}}</h3>
    <div class="fav-items-comp">
      <div class="fav-item-sec">
        <div class="fav-item-img">
          <img
            src="../../../../assets/images/amul_slim_trim_milk-removebg-preview 1.png"
            alt="img"
          />
          <button class="heart-icon">
            <img src="../../../../assets/images/Vector (4).png" alt="btn-img" />
          </button>
        </div>
        <h3>Strawberry</h3>
        <div class="fav-item-rate">
          <p>500g</p>
          <h4>₹20</h4>
        </div>
      </div>
      <div class="fav-item-sec">
        <div class="fav-item-img">
          <img
            src="../../../../assets/images/amul_slim_trim_milk-removebg-preview 1.png"
            alt="img"
          />
          <button class="heart-icon">
            <img src="../../../../assets/images/Vector (4).png" alt="btn-img" />
          </button>
        </div>
        <h3>Amul Milk</h3>
        <div class="fav-item-rate">
          <p>500g</p>
          <h4>₹40</h4>
        </div>
      </div>

      <div class="fav-item-sec">
        <div class="fav-item-img">
          <img
            src="../../../../assets/images/haridwar-mart-haldiram-bhujia-removebg-preview 1.png"
            alt="img"
          />
          <button class="heart-icon">
            <img src="../../../../assets/images/Vector (4).png" alt="btn-img" />
          </button>
        </div>
        <h3>Bhujiya</h3>
        <div class="fav-item-rate">
          <p>100g</p>
          <h4>₹20</h4>
        </div>
      </div>
      <div class="fav-item-sec">
        <div class="fav-item-img">
          <img
            src="../../../../assets/images/tide-plus-detergent-powder-500x500-removebg-preview 1.png"
            alt="img"
          />
          <button class="heart-icon">
            <img src="../../../../assets/images/Vector (4).png" alt="btn-img" />
          </button>
        </div>
        <h3>Bhujiya</h3>
        <div class="fav-item-rate">
          <p>100g</p>
          <h4>₹20</h4>
        </div>
      </div>
      <div class="fav-item-sec">
        <div class="fav-item-img">
          <img
            src="../../../../assets/images/amul_slim_trim_milk-removebg-preview 1.png"
            alt="img"
          />
          <button class="heart-icon">
            <img src="../../../../assets/images/Vector (4).png" alt="btn-img" />
          </button>
        </div>
        <h3>Strawberry</h3>
        <div class="fav-item-rate">
          <p>500g</p>
          <h4>₹20</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="fav-shop">
    <h3>{{'name'|language:'Name'}}</h3>
    <div class="fav-shop-comp">
      <div class="fav-shop-sec">
        <div class="fav-shop-img">
          <img src="../../../../assets/images/Rectangle 51.png" alt="img" />
          <button class="heart-icon-shop">
            <img src="../../../../assets/images/Vector (4).png" alt="btn-img" />
          </button>
        </div>
        <h3>Gadwal Bakers</h3>
        <h4>Bakery</h4>
        <div class="fav-shop-addr">
          <ion-icon name="location-outline"></ion-icon>
          <h4>Abc sector 5</h4>
        </div>
      </div>
      <div class="fav-shop-sec">
        <div class="fav-shop-img">
          <img src="../../../../assets/images/Rectangle 53.png" alt="img" />
          <button class="heart-icon-shop">
            <img src="../../../../assets/images/Vector (4).png" alt="btn-img" />
          </button>
        </div>
        <h3>Butcher Shop</h3>
        <h4>Bakery</h4>
        <div class="fav-shop-addr">
          <ion-icon name="location-outline"></ion-icon>
          <h4>Abc sector 5</h4>
        </div>
      </div>
      <div class="fav-shop-sec">
        <div class="fav-shop-img">
          <img src="../../../../assets/images/Rectangle 54.png" alt="img" />
          <button class="heart-icon-shop">
            <img src="../../../../assets/images/Vector (4).png" alt="btn-img" />
          </button>
        </div>
        <h3>Gadwal Bakers</h3>
        <h4>Bakery</h4>
        <div class="fav-shop-addr">
          <ion-icon name="location-outline"></ion-icon>
          <h4>Abc sector 5</h4>
        </div>
      </div>
      <div class="fav-shop-sec">
        <div class="fav-shop-img">
          <img src="../../../../assets/images/Rectangle 51.png" alt="img" />
          <button class="heart-icon-shop">
            <img src="../../../../assets/images/Vector (4).png" alt="btn-img" />
          </button>
        </div>
        <h3>Gadwal Bakers</h3>
        <h4>Bakery</h4>
        <div class="fav-shop-addr">
          <ion-icon name="location-outline"></ion-icon>
          <h4>Abc sector 5</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="fav-big-img">
    <img
      src="../../../../assets/images/Get everything of your household at ONE PLACE 1.png"
      alt=""
    />
  </div>

  <div class="fav-buttom-nav">
    <button>
      <img src="../../../../assets/images/Vector.png" alt="btn-img" />
      <h3>{{'home'|language}}</h3>
    </button>
    <button>
      <img src="../../../../assets/images/Vector (1).png" alt="btn-img" />
      <h3>{{'favourites'|language}}</h3>
    </button>
    <button>
      <ion-icon
        class="fav-notification-btn"
        name="notifications-outline"
      ></ion-icon>
      <h3>{{'notification'|language}}</h3>
    </button>
    <button>
      <img src="../../../../assets/images/Vector (3).png" alt="btn-img" />
      <h3>{{'voice'|language}}</h3>
    </button>
  </div>
</ion-content>
