<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button slot="start" color="primary" defaultHref="/home" text=""
        icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Profile ' | language : 'Profile'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" [fullscreen]="true">
  <ion-item lines="none">
    <ion-avatar class="ion-no-margin" slot="start">
      <ion-img src="assets/icon/ic-user.svg" alt=""></ion-img>
    </ion-avatar>
    <div class="profile-user">
      <ion-label class="profile-name">{{userDetail?.basicInformation?.personalDetails?.firstName}}</ion-label>
      <span>{{commonservice.userData.phone}}</span>
    </div>
    <ion-buttons slot="end" (click)="goToEditProfile()" class="edit-btn">{{'Edit' | language : 'EDIT' }}</ion-buttons>
  </ion-item>

  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col size="4" size-sm="2" size-md="2" size-lg="1">
        <div color="light" class="grid-icon-text-view ion-text-center" (click)="openSetting()">
          <img src="assets/icon/ic-settings.svg" alt="settings" />
          <ion-text class="menu-title">{{'settings' | language : 'Settings'}}</ion-text>
        </div>
      </ion-col>
      <ion-col size="4" size-sm="2" size-md="2" size-lg="1" routerLink="/referal/my-referal">
        <div color="light" class="grid-icon-text-view ion-text-center">
          <img src="assets/icon/ic-reward.svg" alt="myRewards" />
          <ion-text class="menu-title">{{ 'MyRewards '| language : 'My Rewards '}}</ion-text>
        </div>
      </ion-col>
      <ion-col size="4" size-sm="2" size-md="2" size-lg="1" routerLink="/referal">
        <div color="light" class="grid-icon-text-view ion-text-center">
          <img src="assets/icon/ic-refer-earn.svg" alt="referearn" />
          <ion-text class="menu-title">{{'ReferandEarn'| language : 'Refer and Earn'}}</ion-text>
        </div>
      </ion-col>

      <ion-col size="4" size-sm="2" size-md="2" size-lg="1" class="ion-text-center">
        <div color="light" class="grid-icon-text-view ion-text-center" (click)="goToSubscription()">
          <img src="assets/icon/ic-subscription.svg" alt="subscription" />
          <ion-text class="menu-title">{{"subscription" | language : 'Subscription'}}</ion-text>
        </div>
        <ion-badge color="warning" *ngIf="!this.isSubscribed">{{'pending' | language :'Pending'}}</ion-badge>
      </ion-col>

      <ion-col size="4" size-sm="2" size-md="2" size-lg="1" class="ion-text-center">
        <div color="light" class="grid-icon-text-view ion-text-center" (click)="goToKYC()">
          <img src="assets/icon/kyc.svg" alt="kyc" />
          <ion-text class="menu-title">{{"Kyc" | language : 'KYC'}}</ion-text>
        </div>
        <ion-badge color="warning" *ngIf="!this.isKYCStatus">{{'pending' | language :'Pending'}}</ion-badge>
      </ion-col>
      <ion-col size="4" size-sm="2" size-md="2" size-lg="1" class="ion-text-center">
        <div color="light" class="grid-icon-text-view ion-text-center" (click)="goToBankDetails()">
          <img src="assets/icon/ic-bank-details.svg" alt="BankDetails" />
          <ion-text class="menu-title">{{"bankDetails" | language :'Bank Details'}}</ion-text>
        </div>
        <ion-badge color="warning" *ngIf="!this.isBankDetailStatus">{{'pending' | language :'Pending'}}</ion-badge>
      </ion-col>
      <ion-col size="4" size-sm="2" size-md="2" size-lg="1" class="ion-text-center">
        <div color="light" class="grid-icon-text-view ion-text-center" (click)="commonservice.featureNotAvailable()">
          <img src="assets/icon/ic-delivery-options.svg" alt="DeliveryOptions" />
          <ion-text class="menu-title">{{"deliveryOptions" | language :'Delivery Options'}}</ion-text>
        </div>
      </ion-col>
      <ion-col size="4" size-sm="2" size-md="2" size-lg="1" class="ion-text-center">
        <div color="light" class="grid-icon-text-view ion-text-center" (click)="goToSelectVehicle()">
          <img src="assets/icon/ic-vehicle.svg" alt="vehicle " />
          <ion-text class="menu-title"> {{"Vehicle " | language :'Vehicle'}}</ion-text>
        </div>
      </ion-col>
      <ion-col size="4" size-sm="2" size-md="2" size-lg="1" class="ion-text-center">
        <div color="light" class="grid-icon-text-view ion-text-center" (click)="goToHelp()">
          <img src="assets/icon/ic-help.svg" alt="help" />
          <ion-text class="menu-title">{{"help" | language :'Help'}}</ion-text>
        </div>
      </ion-col>


      <!-- <ion-col size="4" size-sm="2" size-md="2" size-lg="1">
        <ion-card color="light" class="ion-text-center" (click)="commonservice.featureNotAvailable()">
          <img src="assets/images/homeImg/Group (2).svg" alt="cpm_img" />
          <ion-text color="medium">
            {{"B2B Buy" | slice:0:14}}</ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="4" size-sm="2" size-md="2" size-lg="1">
        <ion-card color="light" class="ion-text-center" (click)="commonservice.featureNotAvailable()">
          <img src="assets/images/homeImg/megaphone 1.svg" alt="cpm_img" />
          <ion-text color="medium">
            {{"Promote" | slice:0:14}}</ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="4" size-sm="2" size-md="2" size-lg="1">
        <ion-card color="light" class="ion-text-center" (click)="commonservice.featureNotAvailable()">
          <img src="assets/images/homeImg/users.svg" alt="cpm_img" />    click)="openReferralDashboardModal()"
          <ion-text color="medium">{{"User Management" | slice:0:12}}..</ion-text>  (click)="openMyRewardsModal()"
        </ion-card>
      </ion-col>
      <ion-col size="4" size-sm="2" size-md="2" size-lg="1">
        <ion-card color="light" class="ion-text-center" (click)="commonservice.featureNotAvailable()">
          <img src="assets/images/homeImg/loss-icon-7 1.svg" alt="cpm_img" />
          <ion-text color="medium">
            {{"P & L" | slice:0:30}}</ion-text>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <div>
    <!-- <ion-item lines="full" class="deactivate" (click)="confirmationPopupComponentModal('Deactivate')"> -->
    <ion-item lines="full" class="deactivate" (click)="commonservice.featureNotAvailable()">
      <p>{{'deactivate' | language : 'Deactivate'}}</p>
    </ion-item>
    <ion-item lines="full" class="deactivate"(click)="confirmationPopupComponentModal('Log Out')">
      <ion-icon slot="start" size="large" name="power-sharp" slot=></ion-icon>&nbsp;&nbsp;
      <p>{{'logout' | language : 'Logout'}}</p>
    </ion-item>
  </div>

  <div id="container">
    <p *ngIf="!appEnvirorment">{{'Environment'|language:'Environment'}}: {{env_name}}</p>
    <span><strong>{{'appversion' | language : 'App Version'}}:</strong> {{ commonservice.appCodeVersionName }}</span>
  </div>

</ion-content>
<ion-footer class="ion-no-border footer">
  <app-bottom-tab-view [tabsTextAvailable]="false"></app-bottom-tab-view>
</ion-footer>