<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-back-button defaultHref="select-society" text=""></ion-back-button>
     </ion-buttons>
     <ion-title class="ion-text-left">Select Block</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-padding-vertical ion-padding-horizontal">
      <ion-col size="12">
        <ion-item class="search-input" counter="true" shape="round" fill="outline" mode="md">
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input noEmoticons placeholder="Enter Your Block" id="search-box" debounce="500"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="search-result">
      <ion-col size="12" size-sm="6" size-md="3" size-lg="2" [routerLink]="['/select-flat']">
        <ion-item lines="none" class="only-title">
          <div class="icon">
            <img src="../../../../../assets/icon/building.svg" />
          </div>        
          <ion-label class="title">Block-A</ion-label>
        </ion-item>
      </ion-col>      
      <ion-col size="12" size-sm="6" size-md="3" size-lg="2" [routerLink]="['/select-flat']">
        <ion-item lines="none" class="only-title">
          <div class="icon">
            <img src="../../../../../assets/icon/building.svg" />
          </div>        
          <ion-label class="title">Block-B</ion-label>
        </ion-item>
      </ion-col>      
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-footer class="ion-margin-bottom">
  <ion-button expand="block" fill="solid" shape="round" color="primary" mode="ios" [routerLink]="['/select-flat']">
    Continue
  </ion-button>  
</ion-footer> -->