ion-footer {
    bottom: 0px;
    position: absolute;
    width: -webkit-fill-available;
}

.content{
    background: #fff;
    border-radius: 0px;
    margin: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.1px;
        text-align: center;
    }
    .method{
        ion-textarea{
            border: 1px solid #eee;
            border-radius: 10px;
            margin: 0px 20px;
            width: auto;
        }
        ion-button{
            width: -webkit-fill-available;
            margin: 20px;
        }
    }
    .cash{
        text-align: center;
        margin-bottom: 20px;
        img{
            border-radius: 10px;
            padding: 10px 40px;
            background: linear-gradient(105.25deg, rgba(249, 207, 86, 0.52) 2.78%, #F9CF56 100%);
            border: 1px solid #eee;
        }
    }
    .upi{
        text-align: center;
        margin-bottom: 20px;
        img{
            border-radius: 10px;
            padding: 10px 40px;
            background: linear-gradient(105.25deg, rgba(249, 207, 86, 0.52) 2.78%, #F9CF56 100%);
            border: 1px solid #eee;
        }
    }
}

.footer-md::before {
    background-image: none;
}

.CrossIcon {
    height: 48px;
    width: 48px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    border-radius: 100%;
    background: #FBFBFB;
    color: #000000;
}