  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button mode="md" defaultHref="/tabs/home"></ion-back-button>
      </ion-buttons>
      <ion-label>
        <ion-title class="ion-no-padding">My QR</ion-title>
      </ion-label>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="ion-text-center">
      <div id="info">
        <p class="name">{{userData?.basicInformation?.personalDetails?.firstName}}</p>
        <p class="name">+91-{{userData?.phone}}</p>
      </div>
    </div>
    <div class="qr">
      <qrcode [qrdata]="profileUrl" [imageSrc]="'./assets/images/qrSarvmlogosvg.svg'" [allowEmptyString]="true" [width]="256" [title]="'A custom title attribute'" [errorCorrectionLevel]="'H'">
      </qrcode>
    </div>
    <div>
      <ion-row>
        <ion-col class="ion-padding" size="6">
          <ion-button class="ion-text-capitalize" expand="full" fill="outline" shape="round" mode="md" color="primary" (click)="shareQr()" [disabled]="addDisable">
            <ion-icon slot="start" name="share-social-outline"></ion-icon>Share</ion-button>
        </ion-col>
        <ion-col class="ion-padding" size="6">
          <ion-button class="ion-text-capitalize" expand="full" fill="outline" shape="round" mode="md" color="primary" (click)="downloadQr()">
            <ion-icon slot="start" name="download-outline"></ion-icon>Download</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-content>