* {
    margin: 0;
    padding: 0;
}

ion-header{
    ion-toolbar{
        ion-buttons{
            .refresh{
                font-size: 20px;
                margin-right: 7px;
            }
        }
    }
}

.cart{
    // position: fixed;
    bottom: 0;
    width: 100%;
    background: #F4A259;
    color: #fff;
    padding: 10px;
}
.viewCart{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background: transparent;
    float: right;
    line-height: 21px;
    color: #fff;
}

.bottomMargin{
    margin-bottom: 45px;
}

.boxx {
    border-bottom: 1px solid rgba(118, 200, 147, 0.2);
    .innerbox{
        display: flex;
        justify-content: space-between;
    }
    .left {
        max-width: 80%;

        .hometitle {
            margin: 10px 16px 20px 16px;
            display: flex;
            margin-bottom: 8px;

            p {
                overflow: hidden !important;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                margin-left: 8px;
                font-size: 16px;
                line-height: 24px;
                color: #4F5052;
            }
        }

        .item,
        .rating p {

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #4F5052;
        }

        .rating {
            margin-top: 8px;
            display: flex;
            align-items: center;

            ion-icon {
                color: rgb(230, 93, 14);
            }
        }
    }

    .right {

        padding: 5px;
        width: auto;
        height: fit-content;
        // background: rgba(0, 166, 79, 0.1);
        // box-shadow: inset 0px 0px 5px rgba(153, 153, 153, 0.2);
        // border-radius: 5px;
        display: flex;
        align-items: center;

        ion-img {
            border-radius: 100%;
            height: 40px;
            width: 40px;
            margin-right: 5px;
        }

        .name {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #4F5052;
        }

        .from {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 15px;
            color: #4F5052;
        }
    }
}

.star {
    color: rgb(230, 93, 14);
    margin-top: 1px
}

.sub-nav {
    display: flex;
    overflow-x: auto;
    margin-left: 16px;
    height: 35px;
    margin-right: 2px;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 10px;

    .class_sub-nav-btn{
        border: 2px solid #F4A259;
        color: #F4A259;
        font-weight: bold;
    }

}

        // Nav Button Highlight
        .class_sub-nav-btn{
            background-color: rgb(251, 216, 216);
        }

.sub-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    margin-right: 14px;
    color: var(--ion-color-primary);
    padding: 2px;
    background: #fcfcfc;
    border: 0.5px solid var(--ion-color-primary);
    border-radius: 24px;
}

.filter-container {

    .filter-content {
        //height: calc(100% - 78px);
        height: 100%;
        overflow-y: auto;
        display: flex;

        .filter-tabs {
            width: 80px;
            border-right: 2px solid #d8d9dc;
            text-align: justify;
            overflow: auto;
            background-color: #ffffff;

            .tab {
                padding: 11px 14px;
                font-size: 14px;
                background: #ffffff;

                .title {
                    text-align: center;
                }

                span {
                    color: #666666;
                    float: right;
                }

                &.active {
                    color: #4b4ad5;
                    background: #ffff;
                }
            }
        }

        .filters {
            width: calc(100% - 80px);

            .list {
                height: calc(100vh - 60px);
                overflow-y: auto;

                .slide-header {
                    .slide-image {
                        text-align: center;
                        justify-self: center;

                        img {
                            height: 90px;
                            width: 100px;
                            box-shadow: 2px 2px 2px 0 rgba(56, 56, 56, 50%);
                            border-radius: 10px;
                        }
                    }

                    .slide-sub {
                        // font-size: 14px;
                        text-align: center;
                        justify-self: center;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}


.full-width-card {
    display: flex;
    width: 54px;
    height: 52px;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    -webkit-border-radius: 50%;
    flex-shrink: 0;

    img {
        width: 54px;
        height: 52px;
        height: inherit;
        object-fit: fill;
        border-radius: 50%;
    }
}
ion-segment-button{
    min-height: 35px;
    --padding-end: 12px;
    --padding-start: 12px;
}
.selectedCategory{
    color: var(--ion-color-primary);
    font-size: 14px;
    text-transform: capitalize;
}
.selectedCategory.active{
    font-weight: bold;
}
.item span{
    font-size: 14px;
}
.segment::-webkit-scrollbar {
    display: none;
  }

.sideRow {

    background: rgba(0, 166, 79, 0.1);
    border-radius: 0px 20px 0px 0px;
    overflow: hidden;

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        color: #4F5052;
        margin-top: 5px;
    }

    .selected{
        background: var(--ion-color-primary);
    }

    .sideCol {
        text-align: -webkit-center;
        padding: 10px 2px;

img{
    width: 44px;
    height: 44px;
}
    }
}

.card-box {
    // margin-left: 10px;
    background: #FCFCFC;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    .slide-image {
        text-align: center;
        .imgslide {
            border-radius: 10px;
            object-position: center;
            object-fit: contain;
            width: 100%;
            height: 123px;
        }

        .heart {
            height: 18px;
            width: 18px;
            background-color: white;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 5px;
            top: 9px;
            border-radius: 100%;
        }
    }
}
img{
    object-fit: contain !important;
}

.slide-sub {

    position: relative;
    padding: 3px;

    .item-name,
    .price {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #4F5052;
        width: calc(100% - 20px);
    }

    .item-name {
        // display: inline-block;
        // white-space: nowrap;
        overflow: hidden !important;
        // text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .price {
        font-weight: 400;

    }

    .calendar {
        position: absolute;
        right: 3px;
        top: 2px;
        color: #FFA534;
    }

    .Qua-Add {
        display: flex;

        justify-content: space-between;
        margin: 5px 0px 6px 0px;

        button {
            background: var(--ion-color-primary);
            border-radius: 4px;
            color: white;
            width: 46%;
            height: 20px;
        }

        .quantity {

            display: flex;
            background: #FCFCFC;
            padding: 3px;
            box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            width: 50%;
            justify-content: space-between;
            align-items: center;

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 15px;
                color: #4F5052;

            }

            ion-icon {
                font-size: 14px;
            }

        }

        select {
            width: 40px;
            height: 100%;
        }
    }
}
.phoneCall {
    width: 17px;
    margin-right: 3px;
}
span.wpd-sale-badge {
    background-color: #691B76;
    color: var(--ion-color-secondary-contrast);
    width: 25vw;
    text-align: center;
    font-size: 8px !important;
    line-height: 20px !important;
    position: absolute;
    opacity: 1;
    // transform-origin: 0 0;
    // transform: rotate(-90deg);
    // border-top-right-radius: 10px;
    // border-bottom-left-radius: 10px;
    border-radius: 0px 13px 0px 13px;
}

.idDisabled{
    background-color: #bcbcbc !important;
    color: #818181 !important;
    filter: grayscale(100%);
}
.footer-md::before{
    background-image: none;
  }
  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    bottom: 0px;
    background-color: transparents;
    height: 50px;
    box-shadow: 0px 1px 10px 1px rgba(2, 27, 26, 0.1);
    border-radius: 20px 20px 0px 0px;
    
  }
