.search-box {
    margin: 12px 12px 10px;
    border: 1px solid #d2d4d7;
    --min-height: 35px;
    --padding-start: 16px;
    // box-shadow: 0px 3px 0px rgb(177 177 177 / 59%);
    border-radius: 50px;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    width: -webkit-fill-available;
    > ion-input {
        height: 35px;
        --padding-top: 8px;
        --padding-bottom: 8px;
    }
    > ion-icon {
        font-size: 16px;
        margin-right: 12px;
        margin-left: 5px;
    }
}
.divStyle{
    position: absolute;
    z-index: 9999;
    top: 55px;
    border-radius: 20px;
    margin: 4px 15px;
    /* border: 1px solid; */
    overflow: auto;
    max-height: 200px;
    box-shadow: 0px 3px 0px rgb(177 177 177 / 59%);
}
ion-list{
    padding-bottom:0px;
}
