<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button slot="start" color="primary" defaultHref="/help" text=""
        icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'help' | language : 'Help'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <a href="tel:+91 80958 33999">
          <ion-icon slot="start" src="assets/icon/ic-support.svg"></ion-icon> SUPPORT
        </a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label class="header-label">FAQs</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h3>What is the Customer care number?</h3>
        <div class="wrapdiv">12346789</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Lorem Ipsum has been the industry's standard?</h3>
        <div class="wrapdiv">Lorem Ipsum has been the industry's standard text ever since the 1500s</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Lorem Ipsum has been the industry's standard?</h3>
        <div class="wrapdiv">Lorem Ipsum has been the industry's standard text ever since the 1500s</div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Lorem Ipsum has been the industry's standard?</h3>
        <div class="wrapdiv">Lorem Ipsum has been the industry's standard text ever since the 1500s</div>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
