ion-footer {
    bottom: 0px;
    position: absolute;
    width: -webkit-fill-available;
}
.content{
    background: var(--ion-color-primary-contrast);
    height: 185px;
    border-radius: 20px 20px 0px 0px;
}
    
.footer-md::before {
    background-image: none;
}

.CrossIcon {
    height: 48px;
    width: 48px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    border-radius: 100%;
    background: var(--ion-color-primary-contrast);
   
}
ion-col{
   div{
    border: 1px solid var(--ion-color-medium-shade);
    border-radius: 6px;
    color: var(--ion-color-primary);
    font-size: 12px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        margin: 0px;
    }
   }
        .roleImg{
            width: 24px;
            height: 24px;
           margin: 8px auto;
        }
          }
   
.clear {
        width: 50vw;
        color: #7D7C83;
        margin: 20px 10px 0px 10px;
    }