<ion-header>
    <ion-toolbar>
        <ion-buttons *ngIf="!isModal" slot="start">
            <ion-back-button color="primary" slot="start" text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'Membershipplan ' | language : 'Membership Plan '}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="subscriptionsPackageList">
        <ion-row>
            <ion-col class="ion-padding">
                <ion-card class="card1">
                    <div class="item1">
                        <div class="sameline">
                            <h3>{{subscriptionsPackageList?.amount | currency:'INR':'symbol':'0.0-2'}}</h3>
                            <div class="priceAc">
                                <p class="pricept">{{subscriptionsPackageList?.discountedAmount | currency:'INR':'symbol':'0.0-2'}}
                                    <ion-text id="gst">+ {{subscriptionsPackageList?.gst}}{{'percentagegst' | language : '% Gst'}}</ion-text></p>
                                <ion-icon src="assets/images/homeImg/offer-tag.svg" slot="end"></ion-icon>
                            </div>
                        </div>
                        <p class="month">{{subscriptionsPackageList?.frequency}}</p>
                        <p class="basic">{{subscriptionsPackageList?.name}}</p>
                        <hr/>
                    </div>
                    <div class="lists">
                        <div class="checkmarks">
                            <ion-list class="tagss" *ngFor="let subscriptionsList of subscriptionsPackageList?.benefits">
                                <ion-icon slot="start" src="./assets/icon/check.svg" id="icon1"></ion-icon>
                                <ion-text>{{subscriptionsList}}</ion-text>
                            </ion-list>
                        </div>
                    </div>
                    <div class="btn-two">
                        <ion-button class="buy-btn" (click)="createSubscription()" expand="block" shape="round">
                            {{'BuyNow ' | language : 'Buy now'}}</ion-button>
                        <ion-button *ngIf="isModal" fill="clear" class="skip" expand="block" (click)="skip()">{{'skip' | language : 'Skip'}} </ion-button>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>