<ion-header *ngIf="!isOrder">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start" color="primary" defaultHref="/bank-details" text=""
        icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-label><ion-title class="ion-no-padding">{{'ScanQRcode'|language:'Scan QR code'}}</ion-title></ion-label>
    <ion-buttons slot="end">
      <ion-button routerLink="/select-upi-app">
        <ion-icon color="primary" size="large" slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="openDeleteModal(paymentInfoId)">
        <img src="assets\banking\trash.svg" alt="">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" mode="ios" color="primary" *ngIf="commonService.isLoading"></ion-progress-bar>
</ion-header>

<ion-content *ngIf="!isOrder">
  <div class="container">
    <ion-row class="ion-align-items-center top-view overflow" scrollX="true">
      <div class="arrow1">
        <ion-buttons>
          <ion-icon color="danger" name="chevron-back-outline" class="arrow arrow-left"
            (click)="forwardQR('back')"></ion-icon>
        </ion-buttons>
      </div>
      <ion-col size="2" *ngFor="let upiInfo of userPaymentInfo ; let i = index">
        <div class="ion-margin-end" (click)="changeQR(i)">
          <ion-avatar [ngClass]="getIndex == i ? 'border' : 'avtar'">
            <img alt="icon" src="assets/banking/{{upiInfo.app}}.png" />
          </ion-avatar>
        </div>
      </ion-col>
      <div class="arrow2">
        <ion-buttons>
          <ion-icon color="danger" name="chevron-forward-outline" class="arrow arrow-right"
            (click)="forwardQR('next')"></ion-icon>
        </ion-buttons>
      </div>
    </ion-row>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="auto">
          <ion-avatar class="upi-icon-avtar">
            <img alt="icon" *ngIf="paymentInfoId" class="avtar-img" src="assets/banking/{{displayUserUpiIcon}}.png" />
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding">
          <div class="ion-text-center qr-code">
            <img *ngIf="displayUserPaymentInfo" src="{{displayUserPaymentInfo}}" class="qr-code-img" alt="">
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="rescan">
        <ion-button *ngIf="paymentInfoId" fill="outline" mode="ios" (click)="presentActionSheet()">
          <ion-img src="assets\banking\rescan.svg"></ion-img>
          <ion-label>
            Rescan or Reupload
          </ion-label>
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


<div *ngIf="isOrder" class="container">

  <p class="display-conf ion-text-center">
    <span class="display-conf-span total-received"> <b class="ion-align-self-center"> Total Amt. {{orderTripDetail?.amount + (orderTripDetail?.deliveryInfo?.deliveryCharges ? orderTripDetail?.deliveryInfo?.deliveryCharges : 0) - (orderTripDetail?.discount ? orderTripDetail?.discount : 0) | currency:'INR':'symbol':'0.0-2'}}</b></span>
  </p>

  <ion-segment class="ionSegment" mode="ios" value="myUPI" [(ngModel)]="segment" (ionChange)="segmentChanged($event)" *ngIf="orderTripDetail?.expectedEarning !== 'N/A'">
    <ion-segment-button value="myUPI">
      <ion-label class="segment-label">{{'My UPI' | language:'My UPI'}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="shopUPI">
      <ion-label class="segment-label">{{'Shop UPI' | language:'Shop UPI'}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment class="ionSegment" mode="ios" value="shopUPI" (ionChange)="segmentChanged($event)" *ngIf="orderTripDetail?.expectedEarning == 'N/A'">
    <ion-segment-button value="shopUPI">
      <ion-label class="segment-label">{{'Shop UPI' | language:'Shop UPI'}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment === 'myUPI'">
    <div *ngIf="userPaymentInfo?.length > 0">
      <ion-row class="ion-align-items-center top-view overflow" scrollX="true">
        <div class="arrow1">
          <ion-buttons>
            <ion-icon color="danger" name="chevron-back-outline" class="arrow arrow-left"
              (click)="forwardQR('back')"></ion-icon>
          </ion-buttons>
        </div>
        <ion-col size="2" *ngFor="let upiInfo of userPaymentInfo ; let i = index">
          <div class="ion-margin-end" (click)="changeQR(i)">
            <ion-avatar [ngClass]="getIndex == i ? 'border' : 'avtar'">
              <img alt="icon" src="assets/banking/{{upiInfo.app}}.png" />
            </ion-avatar>
          </div>
        </ion-col>
        <div class="arrow2">
          <ion-buttons>
            <ion-icon color="danger" name="chevron-forward-outline" class="arrow arrow-right"
              (click)="forwardQR('next')"></ion-icon>
          </ion-buttons>
        </div>
      </ion-row>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-padding">
            <div class="image-box">
              <img src="{{displayUserPaymentInfo}}" class="qr-code-img" alt="">
            </div>
          </ion-col>
        </ion-row>
        <!-- <ion-row class="upi">
          UPI ID: {{displayUserUpi}}
        </ion-row> -->
      </ion-grid>
    </div>
    <div *ngIf="userPaymentInfo?.length === 0">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-padding">
            <div class="ion-text-center qr-code">
              <img src="assets/banking/UPI_ID_not_available.svg" class="not-found-img" alt="">
            </div>
            <div class="ion-text-center qr-code">
              <img src="assets/banking/Add_Upi_Id.svg" class="not-found-img" alt="">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <p class="display-conf ion-text-center">
        <span class="display-conf-span payment-received"> <b class="ion-align-self-center"> {{(orderTripDetail?.deliveryInfo?.deliveryCharges ? orderTripDetail?.deliveryInfo?.deliveryCharges : 0) | currency:'INR':'symbol':'0.0-2'}} Delivery Charge Received</b></span>
      </p>
    </div>

    <div class="btns">
      <ion-button fill="clear" expand="full" class="no" (click)="viewNo()">
        <ion-icon slot="start" src="assets/icon/ic-thumbs-down.svg" class="icon-margin"></ion-icon>{{'no' | language : 'No'}}</ion-button>
      <ion-button fill="clear" expand="full" class="yes" (click)="viewYes()" [disabled]="isPayment">
        <ion-icon slot="start" src="assets/icon/ic-thumbs-up.svg" class="icon-margin"></ion-icon>{{'yes' | language : 'Yes'}}</ion-button>
    </div>

  </div>

  <div *ngIf="segment === 'shopUPI'">
    <div *ngIf="retailerPaymentInfo?.length > 0">
      <ion-row class="ion-align-items-center top-view overflow" scrollX="true">
        <div class="arrow1">
          <ion-buttons>
            <ion-icon color="danger" name="chevron-back-outline" class="arrow arrow-left"
              (click)="forwardQR('back')"></ion-icon>
          </ion-buttons>
        </div>
        <ion-col size="2" *ngFor="let upiRetailerInfo of retailerPaymentInfo ; let i = index">
          <div class="ion-margin-end" (click)="changeQR(i)">
            <ion-avatar [ngClass]="getIndex == i ? 'border' : 'avtar'">
              <img alt="icon" src="assets/banking/{{upiRetailerInfo.app}}.png" />
            </ion-avatar>
          </div>
        </ion-col>
        <div class="arrow2">
          <ion-buttons>
            <ion-icon color="danger" name="chevron-forward-outline" class="arrow arrow-right"
              (click)="forwardQR('next')"></ion-icon>
          </ion-buttons>
        </div>
      </ion-row>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-padding">
            <div class="image-box">
              <img src="{{displayRetailerPaymentInfo}}" class="qr-code-img" alt="">
            </div>
          </ion-col>
        </ion-row>
        <!-- <ion-row class="upi">
          UPI ID: {{displayUserUpi}}
        </ion-row> -->
      </ion-grid>
    </div>
    <div *ngIf="retailerPaymentInfo?.length === 0">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-padding">
            <div class="ion-text-center qr-code">
              <img src="assets/banking/UPI_ID_not_available.svg" class="not-found-img" alt="">
              <img src="assets/banking/Add_Upi_Id_Owner.svg" class="not-found-img" alt="">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <p class="display-conf ion-text-center">
        <span class="display-conf-span payment-received" *ngIf="orderTripDetail?.expectedEarning !== 'N/A'"> <b class="ion-align-self-center"> {{orderTripDetail?.amount - (orderTripDetail?.discount ? orderTripDetail?.discount : 0) | currency:'INR':'symbol':'0.0-2'}} Retailer Payment Received</b></span>
        <span class="display-conf-span payment-received" *ngIf="orderTripDetail?.expectedEarning == 'N/A'"> <b class="ion-align-self-center"> {{orderTripDetail?.amount + (orderTripDetail?.deliveryInfo?.deliveryCharges ? orderTripDetail?.deliveryInfo?.deliveryCharges : 0) - (orderTripDetail?.discount ? orderTripDetail?.discount : 0) | currency:'INR':'symbol':'0.0-2'}} Retailer Payment Received</b></span>
      </p>
    </div>

    <div class="btns">
      <ion-button fill="clear" expand="full" class="no" (click)="viewNo()">
        <ion-icon slot="start" src="assets/icon/ic-thumbs-down.svg" class="icon-margin"></ion-icon>{{'no' | language : 'No'}}</ion-button>
      <ion-button fill="clear" expand="full" class="yes" (click)="viewYes()">
        <ion-icon slot="start" src="assets/icon/ic-thumbs-up.svg" class="icon-margin"></ion-icon>{{'yes' | language : 'Yes'}}</ion-button>
    </div>

  </div>

</div>

