
<div class="cont">
  <div class="img">
    <img src="../../../assets/icon/Error outline.svg" alt="">
  </div>
  <div class="msg">
    <h3>Changes not saved!</h3>
    <p>Are you sure
      You want to leave the page without saving changes?</p>
  </div>
  <div class="btns">
    <ion-button fill="outline" expand="full" class="no" (click)="viewYes()" shape="round">Discard</ion-button>

    <ion-button fill="solid" expand="full" class="yes" (click)="viewNo()" shape="round">Save</ion-button>
  </div>
</div>