// #map {
//   height: 80vh !important;
// }
.add{
  height: 360px !important;
}
.select{
  height: 80vh !important;
}
.seller{
  height: 200px;
}
#map .leaflet-control-container{
  display:none;
}

.gmnoprint{
  display: none;
}
  
capacitor-google-map {
  display: inline-block;
  width: 100%;
  // height: 400px;
}

.white-color
{
  background:white !important;
}
.trans-color
{
  background: transparent;
}


  