<!-- <ion-header>
  <ion-toolbar>
      <div class="header">
          <ion-icon name="chevron-back-outline" (click)="onBack()"></ion-icon>
      </div>
  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="onBack()">
      <ion-icon name="chevron-back-outline" class="veh-doc-back-icn"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="retailer-otp">
    <div class="otp-head">
      <h3>{{'verificationCode' | language : 'Verification Code'}}</h3>
      <h5>{{'otpsentto' | language : 'OTP Sent to'}} + 91 {{phoneNumber}}</h5>
    </div>
    <div class="otp-input">
      <h4>{{'enterOtp' | language : 'Enter OTP'}}</h4>
      <div class="otp-inpt-bx">
        <ion-input #otp1 required="true" maxLength="4" class="test" [(ngModel)]="otp.first" (ionFocus)="otp.first = ''"
          (ionChange)="onOTPChange($event, otp2)" type="tel" [class.error]="invalidOtp">
        </ion-input>
      </div>
      <h5 *ngIf="timer">00 : {{ timer > 9 ? timer:'0'+timer }}</h5>
    </div>
    <p>{{'didntReceivetheOTP' | language : 'Didnt receive the OTP?'}}</p>
    <div class="resend-otp" *ngIf="resendOtp; else elseBlock">
      <!-- <img src="assets/images/sms.png" alt="logo"> -->
      <!-- <img src="assets/images/call.png" alt="logo"> -->
      <ion-button (click)="resendOtpFunc('sms')" shape="round" color="primary" size="small"><ion-icon slot="start"
          name="chatbubble-outline"></ion-icon> {{'sms' | language : 'SMS'}}</ion-button>
      <ion-button (click)="resendOtpFunc('call')" shape="round" color="primary" size="small"><ion-icon slot="start"
          name="call-outline"></ion-icon> {{'call' | language : 'Call'}}</ion-button>
    </div>
    <ng-template #elseBlock>
      <!-- <img src="assets/images/sms.png" alt="logo"> -->
      <!-- <img src="assets/images/call.png" alt="logo"> -->
      <div class="resend-otp">
        <ion-button (click)="resendOtpFunc('sms')" shape="round" color="medium" [disabled]="!resendOtp"
          size="small"><ion-icon slot="start" name="chatbubble-outline"></ion-icon> {{'sms' | language :
          'SMS'}}</ion-button>
        <ion-button (click)="resendOtpFunc('call')" shape="round" color="medium" [disabled]="!resendOtp"
          size="small"><ion-icon slot="start" name="call-outline"></ion-icon> {{'call' |language : 'Call'}}</ion-button>
      </div>
    </ng-template>
    <div [ngClass]="otp.first.length == 4 ? 'otp-btn' : 'otp-btn-disabled'">
      <ion-input #otp2 type="button" (click)="checkAndVerifyOtp()"
        value="{{'verify' | language : 'Verify'}}"></ion-input>
    </div>
  </div>
  <p class="terms">
    {{'byClickingIacceptthe'|language:'By clicking, I accept the'}} <a (click)="openUrl('https://sarvm.ai/terms&conditions.html')"> {{'terms&Conditions' | language : 'Terms & Conditions'}}
    </a>  {{'and' | language : 'and'}} &nbsp; <a (click)="openUrl('https://sarvm.ai/sarvm-privacy-policy.html')"> 
        {{'privacyPolicy' | language : 'Privacy Policy'}}</a>.
  </p>
</ion-content>