<ion-header>
  <ion-toolbar>
      <div class="header">
       <ion-icon name="arrow-back"></ion-icon>
       <ion-title>SarVM.AI</ion-title>
       <div class="support">
         <img src="\assets\images\live-chat.png" alt="">
         <p>{{'support'| language :'Support'}}</p>
       </div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p id="text1">{{'help' | language:'Help'}}</p>
  <p id="text2">{{'faqs'| language: 'FAQs'}}</p>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="question">{{'whatIsTheCustomerCareNumber'|language:'What is the customer care number?'}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ans">
      123456789
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="question">Lorem ipsum has been the industry's standard?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ans">
      Lorem ipsum has been the industry's standard dummy text ever since the 1500s
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="question">Lorem ipsum has been the industry's standard?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ans">
      Lorem ipsum has been the industry's standard dummy text ever since the 1500s
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="question">Lorem ipsum has been the industry's standard?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ans">
      Lorem ipsum has been the industry's standard dummy text ever since the 1500s
    </ion-card-content>
  </ion-card>





</ion-content>
