.scan-box {
    border: 2px solid #fff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    display: block;
    height: 300px;
    margin: 20vh auto 0px;
    width: 300px;
}
.icon{
    position: relative;
    z-index: 1;
    width: 2em;
    ion-icon{
        color: #fff;
    }
}
.text {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}



// .scan-button {
//     margin: 0px;
//     position: absolute;
//     bottom: 100px;
//     width: 100vw;
//     height: 50px;
//     z-index: 11;
// }