ion-footer {
    bottom: 0px;
    position: absolute;
    width: -webkit-fill-available;
}
.footer-md::before {
    background-image: none;
}
.content{
    background: #fff;
    border-radius: 0px;
    margin: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
}

.CrossIcon {
    height: 48px;
    width: 48px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    border-radius: 100%;
    background: #FBFBFB;
    color: #000000;
}