@import '../custom.scss';

ion-header {
    ion-toolbar {
        ion-title {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #4F5052;
        }

        ion-button {
            --background: var(--ion-color-primary);
            // --border-radius: 50px;
            --border-radius: 32px;
            width: 40px;
            height: 40px;
            margin-right: 8px;

            ion-icon {
                color: #fff;
                --ionicon-stroke-width: 50px;
            }
        }
    }
}

ion-content {
    --background: url(../../../../../assets/images/map.svg) no-repeat center/cover fixed;
    .location {
        width: 100%;
        height: 48px;
        font-family: "Poppins";
        padding: 16px 16px 0;
        position: fixed;
        --border-color: #fff;
        --background: #fff;

        ion-input {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #00000099 !important;
        }

        ion-icon {
            color: #00000099 !important;
        }
    }
}

ion-footer {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px !important;
    position: absolute;
    bottom: 0;
    .location-details {
        --inner-padding-end: 0;
        --padding-start: 0;
        ion-icon {
            margin: 6px 13px 12px 0;
            color: #4F5052;
        }

        ion-label {
            white-space: break-spaces;
            height: 36px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #4F5052;
            margin: 16px 0;            
        }
    }
    ion-item.fieldset-input
    {
        padding: 0 0 8px;
    }
    ion-button
    {
        padding: 0px 0;
    }
}