<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start" defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/referal/my-referal" mode="ios">
        <ion-icon class="gift" name="gift-outline" color="dark"></ion-icon>
        <ion-label> {{"MyRewards " | language: "My Rewards "}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: var(--ion-color-primary-tint);">
  <div class="container">
    <div class="header">
      <div class="gift-img">
        <div class="ion-text-center">
          <qrcode [qrdata]="profileUrl" [imageSrc]="'./assets/InvitePageImg/logoSarvm.svg'" [allowEmptyString]="true"
            [colorLight]="'#86e1ab'" [width]="256" [errorCorrectionLevel]="'H'">
          </qrcode>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <ion-row>
      <ion-col size="6" class="ion-no-padding">
        <ion-button (click)="shareQr()" color="primary" fill="outline" mode="md" expand="full" shape="round"
          [disabled]="addDisable">
          <ion-icon slot="start" name="share-social-outline"></ion-icon>
          {{'share'|language:'Share '}}</ion-button>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-button (click)="downloadQr()" color="primary" fill="outline" mode="md" expand="full" shape="round">
          <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
          {{'Download'|language:'Download'}}</ion-button>
      </ion-col>
    </ion-row>
    <p id="txt">
      {{ "Getcashrewardsupto " | language: "Get Cash Rewards Upto" }}
    </p>
    <p id="rupee">₹ {{ maxReward | language: maxReward }}</p>
    <ion-button routerLink="/referal/invite-referal" class="btn" color="success" shape="round">{{"Invite " | language:
      "Invite"}}</ion-button>
    <div class="rfl-stat">
      <div>
        <p>{{ "Referralstatus " | language: "Referral Status " }}</p>
      </div>
    </div>
    <div class="card">
      <div class="item">
        <ion-progress-bar value="{{ referred }}" color="success"></ion-progress-bar>
      </div>
    </div>
  </div>
</ion-content>