<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="isModal" slot="start" class="ion-no-margin" (click)="action('close')">
      <ion-back-button slot="start" defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="!isModal" slot="start" class="ion-no-margin">
      <ion-back-button slot="start" defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button mode="ios" (click)="openMyRewardsModal()">
        <ion-icon class="gift" name="gift-outline"></ion-icon>
        <ion-label>{{'MyRewards '|language:'My Rewards '}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="modal">
    <p class="ion-text-center">{{'QR Code'|language:'QR Code'}}</p>
    <div class="ion-padding ion-text-center" slot="content">
      <qrcode [qrdata]="profileUrl" [imageSrc]="'./assets/InvitePageImg/logoSarvm.svg'" [allowEmptyString]="true"
        [width]="256" [title]="'A custom title attribute'" [errorCorrectionLevel]="'H'">
      </qrcode>
    </div>
  </div>
  <ion-footer *ngIf="!isModal">
    <div class="content">
      <div class="header">
        <p>{{'Invitevia'|language:'Invite via'}}</p>
      </div>
      <div class="options">
        <div class="ion-margin" (click)="reminder(0)">
          <img src="/assets/InvitePageImg/whatsapp.svg" alt="">
        </div>
        <div class="ion-margin" (click)="reminder(1)">
          <img src="/assets/InvitePageImg/sms.svg" alt="">
        </div>
      </div>
    </div>
  </ion-footer>
  <ion-footer *ngIf="isModal">
    <div class="content">
      <div class="header">
        <p>{{'Invitevia'|language:'Invite via'}}</p>
      </div>
      <div class="options">
        <div class="ion-margin" (click)="inviteVia(0)">
          <img src="/assets/InvitePageImg/whatsapp.svg" alt="">
        </div>
        <div class="ion-margin" (click)="inviteVia(1)">
          <img src="/assets/InvitePageImg/sms.svg" alt="">
        </div>
      </div>
    </div>
  </ion-footer>
</ion-content>